:root {
    --accentcolor: rgb(40, 82, 189);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Header Section*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    max-width: 60vw;
    font-size: 2.3rem;
    text-align: center;
    margin-top: 5rem;
}

header span {
    font-size: 2.5rem;
}

.accent {
    color: var(--accentcolor);
}

header img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Favorite Section */

.favorites {
    border: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.secttitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.title {
    font-size: 1.3rem;
}

.favcard {
    /* border: solid red; */
    text-align: center;
    width: auto;
    height: auto;
}

.favgrid {
    /* border: solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    gap: 15px;
}

.favgrid img {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.466) 5px 5px 8px;
}

.itemlist {
    list-style: none;
}

/* Contact Section */

#contact {
    margin-top: 4rem;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    width: 20rem;
    margin: auto;
    margin-bottom: 2rem;
}

h3 {
    margin-left: 0.5rem;
}

.link-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.icon {
    width: 2.5rem;
}

.youtube {
    width: 4rem;
}